$radius-lg: 60px;
$radius-md: 30px;
$radius-sm: 6px;
$pink: #ea4b76;
$light-pink: #fbdfe6;
$light: #fff;
$light-grey: #F5F7F9; 
$dark: #2a2a2a;
$primary-font: "Lato", sans-serif;
$secondary-font: "Abril Fatface", cursive;
$cursive-font: "Hurricane", cursive;