.flex-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-inline: auto;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
  position: relative;
  z-index: 2;
}

.wrapper .single-recipe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 3rem;
}

.wrapper .single-recipe .main_image {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .single-recipe .main_image img {
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .single-recipe .main_description {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .single-recipe .main_description .main_description_wrapper {
  padding: 2rem;
}

@media (max-width: 767px) {
  .wrapper .single-recipe .main_description .main_description_wrapper {
    padding: 2rem 0;
  }
}

.wrapper .single-recipe .main_description h1 {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 1.5rem;
  font-size: clamp(1.8rem, 3vw, 3rem);
}

.wrapper .single-recipe .main_description p {
  font-size: 18px;
  width: 100%;
  line-height: 1.3;
}

.wrapper .single-recipe .main_description p a {
  color: #ea4b76;
}

.wrapper .single-recipe .main_description .main_description_facts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 1.5rem 0;
}

.wrapper .single-recipe .main_description .main_description_facts .main_description_facts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em;
  background-color: #fff;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 100ms cubic-bezier(0.87, 0, 0.13, 1);
  transition: all 100ms cubic-bezier(0.87, 0, 0.13, 1);
}

.wrapper .single-recipe .main_description .main_description_facts .main_description_facts_item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background-color: #fbdfe6;
  border-radius: 6px;
}

.wrapper .single-recipe .main_description .main_description_facts .main_description_facts_item .icon svg {
  fill: #ea4b76;
  font-size: 1.3rem;
}

.wrapper .single-recipe .main_description .main_description_facts .main_description_facts_item .text {
  margin: 0 10px;
}

.wrapper .single-recipe .main_description .main_description_facts .main_description_facts_item .text h5 {
  font-size: 13px;
  font-weight: 900;
  color: #808080;
  margin-bottom: 0.2rem;
}

.wrapper .single-recipe .main_description .main_description_facts .main_description_facts_item .text p {
  font-size: 16px;
  font-weight: 900;
  color: #4a4a4a;
}

.recipe-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  height: auto;
  padding: 2rem 1rem 3rem;
  margin: auto;
  line-height: 1.6;
  width: calc(100% - 10px);
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

@media (max-width: 767px) {
  .recipe-details {
    padding: 0 0 3rem;
  }
}

.recipe-details .wrapp {
  width: 100%;
  max-width: 1300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5rem 1rem 0rem;
}

@media (max-width: 767px) {
  .recipe-details .wrapp {
    padding: 0;
  }
}

.recipe-details .wrapp h3 {
  font-size: clamp(1.3rem, 1.5vw, 2.5rem);
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  .recipe-details .wrapp h3 {
    margin-bottom: 1rem;
  }
}

.recipe-details .wrapp p {
  font-size: 1.1rem;
}

.ingredients {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.ingredients ul {
  padding: 0 2rem 2rem 1rem;
}

.ingredients ul li {
  list-style-type: circle;
  font-size: 1.1rem;
}

.process {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 575px) {
  .ingredients,
  .process {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 991px) {
  .wrapper .single-recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: auto;
    padding: 3rem 0 0;
  }
  .wrapper .single-recipe .main_description {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .wrapper .single-recipe .main_image {
    width: 100%;
  }
}
